* {
    padding: 0;
    margin: 0;
}

body {
    background-color:#404040 !important;
    font-family: 'Merriweather', serif !important;
}

h1 {
    font-size: 3.5rem !important;
}

.brush-food {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.me {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 10px;
}

.box3 {
    width: auto;
    border-radius: 15px;
    background: #00bfb6;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial;
    position: relative;
 
  }

  @media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 540px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .box3 {
        padding: 10px;
    }

    .card-row{
        text-align: center;
    }

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .card-row{
        text-align: center;
       
    }

}
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .card-row{
        text-align: center;
       
    }

}

  
  .vivo-card {
    height:100%;
     max-width: fit-content;
  }

  .vivo-card, p {
      overflow: scroll;
  }

  .vivo-card {
    padding: 20px;
      background-color: black  !important;
      box-shadow: 20px 20px 20px #d9d9d9,
      -10px -10px 20px #ffffff;
  
  }

  .card-col {
      padding: 20px;
  }

  .info-col {
       margin-right: 15px; 
  }



  .hero-header {
      text-align: center;
      text-shadow: 1px 1px 0px white;
  }

  .title-container {
      text-align: center;
      padding: 30px;
  }

  .big-vivo {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 1px 1px 0px white;
  }


  .maincontainer {
      position: relative;
      width: 100%;
      height: 320px;
      background: green;
  }

  .thecard {
      position: absolute;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 0.5s ease;
   
  }

  .cardFlip {
      transform: rotateY(180deg);
  }

  .thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
  }

  .theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    transform: rotateY(180deg);
  }

  